@charset "UTF-8";
/* CSS Document */

/* =================================================================

  common

================================================================= */
.setLayout{
    width:1000px;
    margin:0 auto;
    padding:0 30px;
}

#shoppingSearchRakuten .topicsPath {
    margin: 16px auto 6px;
}