@charset "UTF-8";
/* CSS Document */

/*-------------------------------------------------------------------
 *
 * File Name   : select_down.css
 *
-------------------------------------------------------------------*/

/* =================================================================

  #sortChangeForm

================================================================= */
#sortChangeForm{
    font-size:12px;
}
#sortChangeForm ul li{
    float:right;
    margin:0 0 0 15px;
}
select {
    height: 22px;
    padding: 0 28px 0 0;
    padding:0\0;
    background:url(/assets/image/common/layout/search3/tools/common_btn_select.jpg) #fff  no-repeat center right;
    background:none\0;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-overflow: "";
}