@charset "utf-8";

/*
# FooterArea

## フッターエリアのスタイル

*/

#globalFooter {
    position: relative;
    z-index: 1;
    color: darken($color01, 40%);
    text-align: center;
    
    @include overflow(xy, hidden);
    @include fz(13);
    
    & p {
        margin-bottom: 0;
    }

    & > .globalFooterInner {
        padding: $baseMgn $baseSideMgn;
        background-color: $color06;

        & .footerNav {
            margin-bottom: mgn(-1);

            & > li {
                display: inline-block;
                margin-left: 0.4em;
                padding-left: 0.8em;
                
                @include setElem(before, "");
                
                &:before {
                    top: 50%;
                    left: 0;
                    width: 1px;
                    height: 1em;
                    margin-top: -0.5em;
                    background-color: lighten($color04, 40%);
                }

                &:first-child:before {
                    display: none;
                }
                
                & > a {
                    color: $color01;
                    
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }

        & .copyright {
            @include fz(12);
        }
    }

    & .switchingNav {
        padding: mgn(-1) $baseSideMgn;
        background-color: lighten($color06, 8%);
        color: darken($color01, 40%);
        
        & > a {
            display: inline-block;
            margin-left: 0.4em;
            padding-left: 0.8em;
            color: $color01;
            
            @include setElem(before, "");
            
            &:before {
                top: 50%;
                left: 0;
                width: 1px;
                height: 1em;
                margin-top: -0.5em;
                background-color: lighten($color04, 40%);
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}


#footerSitemap {
    background-color: lighten($color06, 75%);
    color: lighten($color04, 40%);
    
    @include fz(13);
    
    & > .footerSitemapInner {
        width: $contMinWidth;
        margin: 0 auto;
        padding: mgn(1) $baseSideMgn;
        
        & > .sitemapBox {
            display: table;
            width: 100%;
            
            & > .sitemapBlock {
                display: table-cell;
                width: 20%;
                padding-right: mgn(-1, $baseSideMgn);
                
                &:last-child {
                    padding-right: 0;
                }
                
                & > dt {
                    margin: mgn(0) 0 mgn(-1);
                    padding-bottom: mgn(-2);
                    border-bottom: 1px dotted darken($color01, 40%);
                    font-weight: bold;

                    @include fz(16);

                    &:nth-of-type(1) {
                        margin-top: 0;
                    }
                }

                & > dd {
                    & li {
                        margin-bottom: mgn(-2.5);
                        color: lighten($color04, 40%);
                        
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }

                    & a {
                        display: block;
                        color: lighten($color04, 40%);
                        
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}
body.typeExtend #footerSitemap > .footerSitemapInner {
    width: auto;
    min-width: $contMinWidth;
    max-width: $contMaxWidth;
}
body.typeWide #footerSitemap > .footerSitemapInner {
    width: auto;
}
