<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>プレミアム会員 - 買うときも売るときも オークファン</title>
    <meta name="author" content="aucfan">
    <meta name="robots" content="noydir,noodp">
    <meta name="description" content="あらゆる商品の最安値が一発でわかる。ヤフオク・楽天・Amazonなど各オークションやショッピングサイト比較情報で日本ナンバーワン総合サイト「オークファン」。過去10年間のオークション落札情報を全て網羅。カンタン出品・落札ツールなど、便利な機能も多数搭載。">
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=1064">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/pathToCustomIcon.png">
    <link rel="stylesheet" type="text/css" media="all" href="/assets/css/common.css">
    <!--[if lte IE 8]>
        <script type="text/javascript" src="/assets/js/common/library/ie9.js"></script>
    <![endif]-->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/common/library/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/assets/js/common/library/quo.min.js"></script>
    <script type="text/javascript" src="/assets/js/common/library/velocity.min.js"></script>
    <script type="text/javascript" src="/assets/js/common/basic.js"></script>
</head>

<body class="typeExtend"><!-- typeExtend -->

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-VVXB"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-VVXB');</script>
<!-- End Google Tag Manager -->

    <div id="frame">

        <!--===== Header Start =====-->
        <header id="globalHeader">
            <div class="globalHeaderInner">
                <p class="ci"><a href="/"><img src="/assets/image/common/logo/logo_ci.png" alt="" height="104" width="500">
                <span class="ciTxt">国内最大級のショッピング・<br>オークション相場検索サイト</span></a></p>
                <ul class="headerNav">
                    <li><a href="/auctemp/">オークションテンプレート</a></li>
                    <li><a href="http://pro.aucfan.com/">オークファンプロ</a></li>
                    <li><a href="/navi/premium/tutorial/">検索体験する</a></li>
                    <li><a href="/faq.html">よくある質問</a></li>
                    <li class="navAbout"><a href="/about.html">オークファンとは？</a></li>
                </ul>
            </div>
        <!-- #globalHeader --></header>
        <!--===== Header End=====-->

        <div id="headerSwitchingArea">
            <div class="headerSwitchingAreaInner">
                <ul class="switchingTab">
                    <li class="bid hv"><a href="javascript:void(0);" class="btnEffects dim">オークション落札相場</a>
                    <div class="tabArrow"></div></li>
                    <li class="open hv"><a href="javascript:void(0);" class="btnEffects dim">開催中のオークション</a>
                    <div class="tabArrow"></div></li>
                    <li class="shopping hv current"><a href="javascript:void(0);" class="btnEffects dim">ショッピング</a>
                    <div class="tabArrow"></div></li>
                </ul>
                <ul class="userAction">
                    <li class="register"><a href="/navi/premium/index6.html" class="btnEffects">期間おまとめ検索</a></li>
                    <li class="login"><a href="/member/myaucfan" class="btnEffects dim">マイページ</a></li>
                    <li class="status">
                        <a href="javascript:void(0);">ようこそ、<span class="userName">Premium</span>さん</a>
                        <div class="userMenu">
                            <ul class="userMenuList">
                                <li><a href="/aucsnipe.html">かんたん入札予約ツール</a></li>
                                <li><a href="http://tools.aucfan.com/bookmark/item">マイブックマーク</a></li>
                            </ul>
                            <ul class="userMenuList">
                                <li><a href="/navi/simulation/auction/yahoo/">出品方法を学ぶ<br>
                                <span class="subTxt">ヤフオク!で出品者デビューしよう！</span></a></li>
                            </ul>
                            <ul class="userMenuList">
                                <li><a href="https://ssl.aucfan.com/member/logout">ログアウト（プレミアム会員）</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        <!-- /#headerSwitchingArea --></div>

        <div id="searchField" >
            <div class="searchFieldInner">
                <div class="searchBox">
                    <form name="searchform" id="searchform" method="get" action="/search0/">
                        <div class="searchToolBox hv">
                            <div class="categorySelect">
                                <select name="c" id="c_id">
                                    <option value="">すべてのカテゴリ</option>
                                    <option value="10">コンピュータ</option>
                                    <option value="11">家電・AV・カメラ</option>
                                    <option value="12">本・雑誌</option>
                                    <option value="13">音楽</option>
                                    <option value="14">映画・ビデオ</option>
                                    <option value="15">おもちゃ・ゲーム</option>
                                    <option value="16">ホビー・カルチャー</option>
                                    <option value="17">アンティーク</option>
                                    <option value="18" selected>コミック・アニメグッズ</option>
                                    <option value="19">タレントグッズ</option>
                                    <option value="20">ファッション</option>
                                    <option value="21">アクセサリー・時計</option>
                                    <option value="22">キッズ・ベビー</option>
                                    <option value="23">ビューティ・健康 </option>
                                    <option value="24">食品・飲料</option>
                                    <option value="25">自動車・バイク</option>
                                    <option value="26">スポーツ・レジャー</option>
                                    <option value="27">事務・店舗用品</option>
                                    <option value="28">住まい・インテリア</option>
                                    <option value="29">花・園芸</option>
                                    <option value="30">ペット・いきもの</option>
                                    <option value="31">チケット・金券</option>
                                    <option value="32">チャリティ</option>
                                    <option value="99">その他</option>
                                </select>
                                <div class="curCategory btnEffects dim">コミック・アニメグッズ</div>
                            </div>
                            <div class="searchSubmit btnEffects">
                                <button type="submit" id="searchBtn" class="searchBtn">検索</button>
                            </div>
                            <div class="searchTxtBox">
                                <input type="text" class="searchInput" id="searchInput" value="" name="q" autocomplete="off" placeholder="オークションで落札済みの商品をさがす">
                            </div>
                        </div>
                        <div id="searchCateSelect">
                            <div class="searchCateSelectInner">
                                <ul>
                                    <li data-value="">すべてのカテゴリ</li>
                                    <li data-value="10">コンピュータ</li>
                                    <li data-value="11">家電・AV・カメラ</li>
                                    <li data-value="12">本・雑誌</li>
                                    <li data-value="13">音楽</li>
                                    <li data-value="14">映画・ビデオ</li>
                                    <li data-value="15">おもちゃ・ゲーム</li>
                                    <li data-value="16">ホビー・カルチャー</li>
                                    <li data-value="17">アンティーク</li>
                                </ul>
                                <ul>
                                    <li data-value="18" class="selected">コミック・アニメグッズ</li>
                                    <li data-value="19">タレントグッズ</li>
                                    <li data-value="20">ファッション</li>
                                    <li data-value="21">アクセサリー・時計</li>
                                    <li data-value="22">キッズ・ベビー</li>
                                    <li data-value="23">ビューティ・健康</li>
                                    <li data-value="24">食品・飲料</li>
                                    <li data-value="25">自動車・バイク</li>
                                </ul>
                                <ul>
                                    <li data-value="26">スポーツ・レジャー</li>
                                    <li data-value="27">事務・店舗用品</li>
                                    <li data-value="28">住まい・インテリア</li>
                                    <li data-value="29">花・園芸</li>
                                    <li data-value="30">ペット・いきもの</li>
                                    <li data-value="31">チケット・金券</li>
                                    <li data-value="32">チャリティ</li>
                                    <li data-value="99">その他</li>
                                </ul>
                            </div>
                            <div class="close"></div>
                        </div>
                        <p class="searchMore"><a href="">詳細検索</a></p>
                    </form>
                </div>
                <div class="searchAdBox">
                    <p class="adTxt"><a href=""><span>データ解析ノウハウを無料で手に入れる</span></a></p>
                </div>
            </div>
            <div class="recommendKeywords">
                <dl class="recommendKeywordsInner">
                    <dt>オススメキーワード：</dt>
                    <dd>
                        <ul>
                            <li><a href="">羊毛フェルト 猫</a></li>
                            <li><a href="">羊毛フェルト うるめ</a></li>
                            <li><a href="">羊毛フェルト インコ</a></li>
                            <li><a href="">羊毛フェルト ハンドメイド</a></li>
                            <li><a href="">羊毛フェルト 犬</a></li>
                            <li><a href="">羊毛フェルト インコ</a></li>
                        </ul>
                    </dd>
                </dl>
            </div>
        </div>
 
        <ul class="topicsPath">
            <li><a href="/">トップ</a></li>
            <li><a href="/search1/q-~cdd3ccd3a5d5a5a7a5eba5c8/s-mix/?o=t1">羊毛フェルトの検索</a></li>
            <li>商品詳細</li>
        <!-- /.topicsPath --></ul>


        <!--===== Contents Start=====-->
            <div id="contentsArea">
                <a href="">テキストリンク</a>

                <!-- ここにコンテンツが入ります。 -->


            <!-- /#contentsArea --></div>
        <!--===== Contents End=====-->
        
        
        <!--===== Footer Start =====-->
        <nav id="footerSitemap">
            <div class="footerSitemapInner">
                <div class="sitemapBox">
                    <dl class="sitemapBlock">
                        <dt>サイト内コンテンツ</dt>
                        <dd>
                            <ul>
                                <li><a href="/search1/">落札相場検索</a></li>
                                <li><a href="/search2/">現在開催中のオークション検索</a></li>
                                <li><a href="/search3/">ショッピング検索</a></li>
                                <li><a href="/search1/s-ya/">ヤフオク!検索結果</a></li>
                                <li><a href="/search1/s-ra/">楽天オークション検索結果</a></li>
                                <li><a href="/search1/s-mo/">モバオク検索結果</a></li>
                                <li><a href="/topword/">人気キーワードランキング</a></li>
                                <li><a href="/hotword/">注目ワードランキング</a></li>
                                <li><a href="/rareword/">レアワードランキング</a></li>
                                <li><a href="/kwhist.html">リアルタイム検索ワード履歴</a></li>
                                <li><a href="/query/">検索クエリ集</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="sitemapBlock">
                        <dt>関連コンテンツ</dt>
                        <dd>
                            <ul>
                                <li><a href="http://auc-school.com/semi/gakuoku/" target="_blank">オークファンゼミ</a></li>
                                <li><a href="http://auc-school.com" target="_blank">オークファンスクール</a></li>
                                <li><a href="http://pro.aucfan.com" target="_blank">オークファンプロ</a></li>
                                <li><a href="http://global.aucfan.com/" target="_blank">グローバルオークファン</a></li>
                                <li><a href="/college/" target="_blank">オークファンカレッジ</a></li>
                                <li><a href="http://mall.aucfan.com/" target="_blank">オークファン仕入れモール</a></li>
                                <li><a href="http://www.rakuichi-rakuza.jp/" target="_blank">フリーマーケット楽市楽座</a></li>
                                <li><a href="/trendsearch/" target="_blank">オークファントレンドサーチ</a></li>
                                <li><a href="/article/" target="_blank">オクトピ</a></li>
                                <li><a href="http://tech.aucfan.com/" target="_blank">aucfan Engineers' blog</a></li>
                                <li><a href="http://town.aucfan.com" target="_blank">オークファンタウン</a></li>
                                <li><a href="http://facebook.com/aucfan" target="_blank">オークファン公式Facebookページ</a></li>
                                <li><a href="http://www.auction-navi.jp" target="_blank">オークション出品代行「オクナビ」</a></li>
                                <li><a href="http://www.moshimo.com" target="_blank">もしもドロップシッピング</a></li>
                                <li><a href="http://www.sekaimon.com" target="_blank">セカイモン</a></li>
                                <li><a href="/ad_cs?id=6422" target="_blank">中古ビジネス専門紙リサイクル通信</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="sitemapBlock">
                        <dt>オークファンのツール</dt>
                        <dd>
                            <ul>
                                <li><a href="http://tools.aucfan.com/selling/item/category">かんたん出品ツール（ヤフオク!）</a></li>
                                <li><a href="http://ap.aucfan.com/tools/mbok/selling">かんたん出品ツール（モバオク）</a></li>
                                <li><a href="http://tools.aucfan.com/selling/item/">マイ出品ストレージ</a></li>
                                <li><a href="http://tools.aucfan.com/feedback/bidder/">一括評価ツール</a></li>
                                <li><a href="http://tools.aucfan.com/shipping">一括送料比較ツール</a></li>
                                <li><a href="/auctemp/">オークションテンプレート</a></li>
                                <li><a href="http://tools.aucfan.com/featured/item">一括注目ツール</a></li>
                                <li><a href="http://tools.aucfan.com/monitor/item">オークション出品モニター</a></li>
                                <li><a href="http://tools.aucfan.com/re_selling/item">一括再出品ツール</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="sitemapBlock">
                        <dt>会員サービス</dt>
                        <dd>
                            <ul>
                                <li><a href="/navi/premium/index6.html">新規会員登録</a></li>
                                <li><a href="https://ssl.aucfan.com/premium_member/regist">プレミアム会員登録</a></li>
                                <li><a href="https://ssl.aucfan.com/member/login">ログイン</a></li>
                            </ul>
                        </dd>
                        <dt>その他</dt>
                        <dd>
                            <ul>
                                <li><a href="/about.html">オークファンとは</a></li>
                                <li><a href="/faq.html">よくある質問</a></li>
                                <li><a href="/navi/help/">ヘルプ</a></li>
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>
        <!-- /#footerSitemap --></nav>

        <footer id="globalFooter">
            <div class="globalFooterInner">
                <ul class="footerNav">
                    <li><a href="https://secure.aucfan.com/contact/general/">お問い合わせ</a></li>
                    <li><a href="http://aucfan.co.jp/">会社概要</a></li>
                    <li><a href="/navi/premium/tokushoho.html">特定商取引表示</a></li>
                    <li><a href="http://aucfan.co.jp/recruit/">スタッフ募集</a></li>
                    <li><a href="/company/ad.html">広告掲載について</a></li>
                    <li><a href="/siteinfo/sitemap.html">サイトマップ</a></li>
                    <li><a href="/siteinfo/service.html">利用規約</a></li>
                    <li><a href="/siteinfo/link.html">リンクについて</a></li>
                    <li><a href="/company/pp.html">プライバシーポリシー</a></li>
                </ul>
                <small class="copyright">&copy; 2000 aucfan Co.,Ltd. All Rights Reserved.</small>
            </div>
            <p class="switchingNav">表示：PC <a href="http://aucfan.com/" onclick="changeViewMode('SP','.aucfan.com','/',1 );">スマートフォン</a></p>
        <!-- #globalFooter --></footer>
        
        <a href="#frame" id="fixedPagetop"></a>
        <!--===== /Footer End =====-->
        
    <!-- / #frame --></div>
    
</body>
</html>