<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>オークファンプレミアム会員のサービス内容と利用料の改定について - 買うときも売るときも オークファン</title>
    <meta name="author" content="aucfan">
    <meta name="robots" content="noydir,noodp">
    <meta name="description" content="あらゆる商品の最安値が一発でわかる。ヤフオク・楽天・Amazonなど各オークションやショッピングサイト比較情報で日本ナンバーワン総合サイト「オークファン」。過去10年間のオークション落札情報を全て網羅。カンタン出品・落札ツールなど、便利な機能も多数搭載。">
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=1064">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/pathToCustomIcon.png">
    <link rel="stylesheet" type="text/css" media="all" href="/assets/css/common.css">
    <!--[if lte IE 8]>
        <script type="text/javascript" src="/assets/js/common/library/ie9.js"></script>
    <![endif]-->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/common/library/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/assets/js/common/library/velocity.min.js"></script>
    <script type="text/javascript" src="/assets/js/common/basic.js"></script>
    <script type="text/javascript" src="/assets/js/static/include.js"></script>
</head>

<body>

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-VVXB"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-VVXB');</script>
    <!-- End Google Tag Manager -->

    <div id="frame">

        <!--===== Header Start =====-->
        <script type="text/javascript">
            include("/assets/include/header.html");
        </script>
        <!--===== Header End=====-->

        <ul class="topicsPath  fixedMinHeaderDispPoint">
            <li><a href="/">トップ</a></li>
            <li>オークファンプレミアム会員のサービス内容と利用料の改定について</li>
        <!-- /.topicsPath --></ul>


        <!--===== Contents Start=====-->
        <div id="contentsArea">
            <h1 class="hdType01">オークファンプレミアム会員のサービス内容と利用料の改定について</h1>
            <div class="secType01 topPdgReset">
                <p class="fSize12">オークファンプレミアム会員の皆様へ</p>

                <p>日頃よりオークファンをご利用いただき、ありがとうございます。<br>オークファンでは、お客様により効果的かつ簡単にオークファンをご活用いただけるよう、日々サービスやシステムの改善に努めております。</p>

                <p>このたび、当社の調査におきまして、プレミアム会員のオプションサービスである「期間おまとめ検索」の需要がきわめて高く、また、期間おまとめ検索をはじめとするオプションサービスを利用した場合は、お客様の取引の成果が増加する傾向が見られました。</p>

                <p>以上の結果から当社は、お客様が期間おまとめ検索をはじめとするオプションサービスをより利用しやすい環境を提供することがお客様にとって有益であると考え、2016年2月1日よりオークファンプレミアム会員に「期間おまとめ検索」を標準装備すると共に、その他オプションサービスの利用回数制限も緩和いたします。</p>

                <p>また、2016年2月1日よりオークファンプレミアム会員のお客様を対象に、お客様のご要望や課題に合わせた新機能をリリースする予定ですが、新機能の詳細につきましては、追ってご案内をさせていただきます。</p>

                <p>加えて、オークファンプレミアム会員を対象に、Tポイントやamazonギフト券、商品券、電子マネーなどに交換できるオークファンポイントを進呈するキャンペーンを実施し、お客様にとっての便利な売り買いを支援してまいります。</p>

                <p>また、上記の取り組みに伴い、オークファンプレミアム会員の利用料を改定させていただきます。</p>

                <p>今後もより多くのお客様に満足いただけるサービスを提供してまいりますので、変わらぬご愛顧のほど、よろしくお願いいたします。</p>

                <p>詳細は、下記をご確認ください。</p>

                <section>
                    <h1 class="hdType02">オプション料金と回数制限の改定について</h1>

                    <p>オークファンプレミアム会員の人気No.1ツール「期間おまとめ検索」（515円/月）を下記のように改定いたします。<br>
                    また、他のオプションサービスである落札データダウンロード、出品テンプレートフォトプラス、出品ストレージの制限も緩和いたします。</p>

                    <h2 class="hdType06">【改定前】</h2>
                    <table class="tableType01">
                        <thead>
                            <tr>
                                <th scope="col" class="sellSize40"></th>
                                <th scope="col" class="sellSize20 tC">プレミアム会員</th>
                                <th scope="col" class="sellSize20 tC">オプション<br>登録会員</th>
                                <th scope="col" class="sellSize20 tC">オプション料金<br>（月額）</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" class="bgLight02">タイトルタイトルタイトル</th>
                                <td class="tC">内容</td>
                                <td class="tC">内容</td>
                                <td class="tC">内容</td>
                            </tr>
                            <tr>
                                <th scope="row" class="bgLight02">タイトルタイトルタイトル</th>
                                <td class="tC">内容</td>
                                <td class="tC">内容</td>
                                <td class="tC">内容</td>
                            </tr>
                        </tbody>
                    </table>

                    <h2 class="hdType06">【改定後（2016年2月1日～）】</h2>
                    <table class="tableType01">
                        <thead>
                            <tr>
                                <th scope="col" class="sellSize40"></th>
                                <th scope="col" class="sellSize20 tC">プレミアム会員</th>
                                <th scope="col" class="sellSize20 tC">オプション<br>登録会員</th>
                                <th scope="col" class="sellSize20 tC">オプション料金<br>（月額）</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" class="bgLight02">タイトルタイトルタイトル</th>
                                <td class="tC">内容</td>
                                <td class="tC">内容</td>
                                <td class="tC">内容</td>
                            </tr>
                            <tr>
                                <th scope="row" class="bgLight02">タイトルタイトルタイトル</th>
                                <td class="tC">内容</td>
                                <td class="tC">内容</td>
                                <td class="tC">内容</td>
                            </tr>
                        </tbody>
                    </table>

                    <ul class="listType02 btmMgnReset">
                        <li><i class="mk">※</i>2016年2月1日以降は、オークファンプレミアム会員にご登録されているだけで「期間おまとめ検索」もご利用いただけます。<br>
                        また、すでに「期間おまとめ検索」をご登録されている方は、後述いたします今回の料金改定により、月額利用料が48円お得になります。本サービスの改定において、お客様側の方での手続きは一切不要です。</li>
                    </ul>

                    <h2 class="hdType03">改定日</h2>

                    <p class="fSize10 btmMgnReset">2016年2月1日</p>
                    <p class="btmMgnReset">改定後の月額会員費は、2016年2月分から適用されます（翌月請求）。</p>

                    <h2 class="hdType03">各オプションサービスについて</h2>

                    <h3 class="hdType04">「<em>期間おまとめ検索</em>」とは</h3>

                    <p>期間おまとめ検索は、オークファンが保有するヤフオク!の過去10年分の落札相場を一括で検索できる人気No.1オプションサービスです。<br>
                    このオプションをご利用頂くと、今まで見つけられなかったレア商品を簡単に短時間で発見でき、効率的なリサーチが実現します。<br>
                    オークファン相場検索をフル活用をするなら、『期間おまとめ検索』をぜひご利用ください。</p>

                    <h3 class="hdType04">「<em>落札データダウンロード</em>」とは</h3>

                    <p>落札データダウンロードを使えば、オークファン落札データ（検索結果データ）をCSV形式にして一括ダウンロードすることが出来ます。<br>
                    エクセルなどの表形式に落札データがまとめられますので、自由に落札データをカスタマイズできます。<br>
                    あなただけの落札データを活用して、「相場分析・出品者分析やデータ管理など」にお役立てください。</p>

                    <h3 class="hdType04">「<em>出品テンプレートフォトプラス</em>」とは</h3>

                    <p>出品テンプレートフォトプラスは、通常3枚までしか商品画像を掲載できないところを、最大30枚まで追加掲載可能な出品テンプレート機能です。<br>
                    以下のような特徴があります。</p>
                    <ul class="listType01">
                        <li>最長180日間もテンプレートを保存でき、さらに100件のテンプレートを登録できます。</li>
                        <li>画像自動リサイズにより、デジカメで撮影した画像も編集する必要なくアップロードできます。</li>
                        <li>通常出品より、30枚多く商品画像を掲載することができます。</li>
                    </ul>

                    <h3 class="hdType04">「<em>落札データダウンロード</em>」とは</h3>

                    <p>出品ストレージは、すべての出品ユーザの要望にお応えした出品機能です。<br>
                    以下のような特徴があります。</p>
                    <ul class="listType01">
                        <li>作成した出品ページを保存しておけば、同じ商品を出品する際に、再度作成する必要がなく、保存した出品データから何度でも出品できます。（最大100件保存）</li>
                        <li>複数の作成した3出品ページを簡単に一括出品できます。</li>
                        <li>PCとスマホが連動しているため、PCで作成した出品ページを外出中でもスマートフォンから出品できます。</li>
                    </ul>

                    <h2 class="hdType03">新機能リリース</h2>

                    <p>オークファンでは、お客様にオークファンをよりご活用いただくために、「期間おまとめ検索」以外にもお客様のご要望や課題に合わせた新機能をリリース予定です。<br>
                    新機能の詳細につきましては、追ってご案内をさせていただきますので、お楽しみにお待ちください。</p>

                    <h2 class="hdType03">システム増強について</h2>

                    <p>多くの会員様へ「期間おまとめ検索」および各オプションの回数制限緩和や新機能をリリースした後でも、より一層、今まで以上に快適にご利用いただけるよう、サーバーの増強などを行います。</p>

                    <h2 class="hdType03">ポイントプレゼントキャンペーン</h2>

                    <p>オークファンプレミアム会員をご利用いただいているお客様にオークファンポイントをプレゼントいたします。</p>

                    <p class="fSize10">2016年1月：<em class="tColor04">500ポイント</em><br>
                    2016年2月：<em class="tColor04">1000ポイント</em></p>

                    <ul class="listType02">
                        <li>
                            <i class="mk">※</i>1ポイント=1円相当<br>
                            オークファンポイントはTポイントやamazonギフト券、商品券、電子マネーなどに交換できる便利なポイントサービスです。<br>
                            これを機会にどうぞご活用ください。
                            <p class="topMgnSet"><a href="#"><i class="arrowRightIco01"></i>オークファンポイントとは？</a></p>
                        </li>
                    </ul>

                    <p>またこれ以降もオークファンプレミアム会員の方ほど、提供するポイントの大きいポイントプレゼントキャンペーンを実施していく予定です。</p>
                </section>

                <section>
                    <h1 class="hdType02">オークファンプレミアム会員の改定について</h1>

                    <p>これらの取り組みに伴いプレミアム会員の利用料を改定いたします。</p>

                    <h2 class="hdType06">【改定前】</h2>
                    <table class="tableType01">
                        <thead>
                            <tr>
                                <th scope="col" class="sellSize40"></th>
                                <th scope="col" class="sellSize20 tC">プレミアム会員</th>
                                <th scope="col" class="sellSize20 tC">オプション<br>登録会員</th>
                                <th scope="col" class="sellSize20 tC">オプション料金<br>（月額）</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" class="bgLight02">タイトルタイトルタイトル</th>
                                <td class="tC">内容</td>
                                <td class="tC">内容</td>
                                <td class="tC">内容</td>
                            </tr>
                            <tr>
                                <th scope="row" class="bgLight02">タイトルタイトルタイトル</th>
                                <td class="tC">内容</td>
                                <td class="tC">内容</td>
                                <td class="tC">内容</td>
                            </tr>
                        </tbody>
                    </table>

                    <h2 class="hdType06">【改定後（2016年2月1日～）】</h2>
                    <table class="tableType01">
                        <thead>
                            <tr>
                                <th scope="col" class="sellSize40"></th>
                                <th scope="col" class="sellSize20 tC">プレミアム会員</th>
                                <th scope="col" class="sellSize20 tC">オプション<br>登録会員</th>
                                <th scope="col" class="sellSize20 tC">オプション料金<br>（月額）</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" class="bgLight02">タイトルタイトルタイトル</th>
                                <td class="tC">内容</td>
                                <td class="tC">内容</td>
                                <td class="tC">内容</td>
                            </tr>
                            <tr>
                                <th scope="row" class="bgLight02">タイトルタイトルタイトル</th>
                                <td class="tC">内容</td>
                                <td class="tC">内容</td>
                                <td class="tC">内容</td>
                            </tr>
                        </tbody>
                    </table>

                    <h2 class="hdType03">改定日</h2>

                    <p class="fSize10 btmMgnReset">2016年2月1日</p>
                    <p class="btmMgnReset">改定後の月額会員費は、2016年2月分から適用されます（翌月請求）。</p>
                </section>

                <p class="topMgnSet7">今後ともオークファンをお引き立て賜りますようお願い申しあげます。</p>
                <p class="tR">配信日：2015年12月14日</p>
            </div>

        <!-- /#contentsArea --></div>
        <!--===== Contents End=====-->


        <!--===== Footer Start =====-->
        <script type="text/javascript">
            include("/assets/include/sitemap.html");
            include("/assets/include/footer.html");
        </script>
        <a href="#frame" id="fixedPagetop"></a>
        <!--===== /Footer End =====-->

    <!-- / #frame --></div>

</body>
</html>