@charset "utf-8";

/*
# Mixin

## 汎用的なミックスインなど

***
*/

/*
# slash hack
*/
$slash: "/";


/*
  CLEARFIX
---------------------------------------------*/
.clearfix:after {
  content: ".";  /* create new element */
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
    display:block;
    min-height: 1px;
}

* html .clearfix {
  height: 1px;
  /*\*//*/
  height: auto;
  overflow: hidden;
  /**/
}

.clear {
    clear:both;
}